# Introduction à Python

## 1. Variables et types de variable/donnée

### 1.1 Variables
Comprendre l'attribution d'une valeur à un nom

In [1]:
#Variable ne commence pas par un chiffre
10zidane = 
zidane10 =

#Variable en minuscule
jo2024 =
JO2024 =

jo_2024 =
jo-2024 = 

#Attention aux fonctions built-in 
round()
min()
max()

round_ =
max_ =
min_ =

SyntaxError: invalid syntax (334357878.py, line 2)

In [1]:
var_chiffre = 10
var_chiffre

var_chiffre = 30
var_chiffre

30

### 1.2 Types
Identifier les types de variables et comment les modifier

In [3]:
var_int = 1

var_float = 2.5

var_str = 'jeux olympiques'
var_str2 = "jeux paralympiques"
# var_str_apo = 'jeux d'été'
var_str_accent2 = "jeux d'été"

var_bool = False

In [4]:
#Attention aux chiffres 'texte'
var_str_int = "10"

In [5]:
#type()
type(var_int)
type(var_float)
type(var_str)
type(var_str_int)

#Modifications
#int()
type(int(var_str_int))
int(var_float)

#str()
type(str(var_float))

#float()
float(var_int)
float(var_str_int)
float(var_str)

ValueError: could not convert string to float: 'jeux olympiques'

In [7]:
var_dcl = 2.40
str(var_dcl)

'2.4'

In [8]:
#Fonction print()
print(var_dcl)
print(var_str_int)

2.4
10

## 2. Variables textes
Comprendre comment manipuler et intégrer une variable dans un schéma automatisé

In [9]:
#len()
len(var_str)
len(var_str_int)

2

### 2.1 Méthodes

In [10]:
#upper() lower() capitalize()
var_str
var_str.upper()
var_str.lower()
var_str.capitalize()

#startswith() endswith()
var_str.startswith('j')
var_str.endswith('s')

var_str_int
var_str_int.endswith('0')

#split() join() replace() strip()
var_str.split('eu')
'-'.join(var_str)

var_str.replace(' ', '?')

var_str_strip = "     Médailles d'or  "
var_str_strip.strip()

#zfill()
var_str.zfill(25)
var_str_int.zfill(7)
int(var_str_int.zfill(7))

10

### 2.2 Index

In [11]:
#index du caractère
print(var_str)
print(var_str[0])
print(var_str[10])

print(var_str[:])
print(var_str[:4])
print(var_str[3:10])

print(var_str[-3])
print(var_str[:-3])

print(var_str[::-1])

jeux olympiques
j
i
jeux olympiques
jeux
x olymp
u
jeux olympiq
seuqipmylo xuej

In [12]:
#Somme de textes
var_str + var_str_int + var_str_strip
# var_str + ', ' + var_str_int + ' ' +var_str_strip.strip()

nb_gold = 55
var_str + str(nb_gold) + var_str_strip
var_str + ', ' + str(nb_gold) + ' ' +var_str_strip.strip()


var_str.capitalize() + ', ' + str(nb_gold) + ' ' +var_str_strip.strip().lower() + ' pour la délégation X'

#f'{}'
f'Durant ces {var_str.capitalize()}, la délégation a otenue {nb_gold} {var_str_strip.strip().lower()}'

"Durant ces Jeux olympiques, la délégation a otenue 55 médailles d'or"

In [13]:
#in -> True/False
gold_count = f'Durant ces {var_str.capitalize()}, la délégation a otenue {nb_gold} {var_str_strip.strip().lower()}'
gold_count

'55' in gold_count
'150' in gold_count

str(nb_gold) in gold_count
gold_count.index('55')
gold_count.index(str(nb_gold))

gold_count[51:]

"55 médailles d'or"

Exercice<br>
Récupérer le nombre de médailles dans la phrase (au format int)

In [14]:
phrase = 'Durant les Jeux de Paris, la délégation française a otbenu un total de 64 médailles'
#1
str(64) in phrase
phrase.index(str(64))

int(phrase[71:73])

64

## 3. Variables numériques
Comprendre la manipulation des variables numériques entre elles

### 3.1 Opérations mathématiques

In [15]:
a = 10
b = 3

In [16]:
#Addition +
a + b
c = a + b
c

#Soustraction -
a - b 
d = a - b 
d

e = 15
e += a
e -= b
e

#Multiplication *
a * b
e *= a
e

#Division /
a / b
e /= a
e

#Quotient de la division euclidienne //
f = 17
f // b

#Reste de la division euclidienne %
f % b

f //= b
f

f = 17
f %= b
f

#Puissance **
a ** b
a **= b
a

1000

In [17]:
#Arrondi round()
round(1.5)
round(1.41763)
round(1.876565, 3)

1.877

## 4. Opérateurs logiques
Comprendre la notion de condition

In [18]:
a = 10
b = 12
c = 10
d = 8

In [19]:
#Egalité ==
a == b
a == c 
a == b == c

#Différence !=
a != b 
a != c 
a != b != c

#Inférieur
a < b
d < a < b

#Supérieur
a > b

#Supérieur ou égal
a <= b

#Inférieur ou égal
a >= b

False

In [20]:
#Et and &
(a == c) and (a != b)
(a == c) & (a != b)

#Ou or |
(a == c) or (a == b)
(a == c) | (a == b)

#Non not
(a == c) and not (a == b)
(a == c) and not (a != b)
#(a == c) & not (a == b)
(a == c) or not (d < a)

True

Exercice<br>
<br>- Retrouver le nombre de médailles dans la phrase (en format int)
<br>- Indication : ne pas rechercher '64', plutôt les caractère avant 'médailles'
<br>- Retourner la réponse de condition si le compte est supérieur à celui de Pékin ET si le compte est égal à celui de Londres

In [21]:
phrase = 'Durant les Jeux de Paris, la délégation française a otbenu un total de 64 médailles'
pekin_count = 43
londres_count = 35

idx_medailles = phrase.index('médailles')
paris_count = int(phrase[idx_medailles-3:idx_medailles-1])

answer = (paris_count > pekin_count) and (paris_count == londres_count)
answer

False

## 5. Listes
Comprendre le fonctionnement des listes

### 5.1 Création de liste

In [22]:
#Création d'une liste à la main
list_1 = [1, 2, 3]
list_1

list_2 = [1, 2, 3, 'go!']
list_2

list_3 = [list_1, list_2, 'autre chose']
list_3

list_4 = list_1 + list_2
list_4

#Rappel .split()
list_mots = phrase.split()
list_mots

#Création d'une liste vide à "alimenter" .insert()
list_1.insert(0, '4')
list_1

list_vide = []
list_vide
list_vide.insert(0, 8)
list_vide

list_vide.insert(len(list_vide), 'nouveau element')
list_vide

[8, 'nouveau element']

In [23]:
list_1

['4', 1, 2, 3]

In [24]:
list_copy = list_1.copy()
list_copy
list_copy.insert(16, 8)
list_copy
list_1

['4', 1, 2, 3]

In [25]:
#.append() .extend() .remove()
list_1.append(7)
list_1

list_1.extend(list_mots)
list_1

# list_copy.extend(10)
list_copy.extend('extend')
list_copy

list_copy.remove('4')
list_copy

[1, 2, 3, 8, 'e', 'x', 't', 'e', 'n', 'd']

### 5.2 Index

In [26]:
#Retrouver une élèment par son index
list_1
list_1[0]
list_1[-1]

#Modifier un élème par son index
list_1[-2] = '65'
list_1

list_1[1] = 'texte'
list_1

#Slicing
list_1[0:2] = [0, 0]
list_1
list_1[2:4] = [99, 99]
list_1

#Création d'une "sous liste" à partir d'une liste
list_phrase = list_1[5:]
list_phrase

#Bonus
' '.join(list_phrase)

'Durant les Jeux de Paris, la délégation française a otbenu un total de 65 médailles'

In [27]:
#Index liste dans une liste
list_3
list_3[0][-1]
list_3[0][-1][0]

'm'

### 5.3 Méthodes et Fonctions

In [28]:
#.count()
list_copy.count(2)

#.index()
list_copy.index('e')
list_copy

list_phrase.index('médailles')

#sorted()
sorted(list_phrase)
sorted(list_phrase, reverse=True)

#Bonus
' '.join(sorted(list_phrase, reverse=True))

'un total otbenu médailles les la française délégation de de a Paris, Jeux Durant 65'

Exercice<br>
Ajouter les éléments de la liste dans la phrase (au bon endroit)

In [29]:
list_mots = ['Paris', ['or', 'rugby']]
phrase = f"Durant les JO de {list_mots[0]}, l'équipe de {list_mots[1][1]} à 7 a obtenu sa première médaille d'{list_mots[1][0]}"
phrase

"Durant les JO de Paris, l'équipe de rugby à 7 a obtenu sa première médaille d'or"

## 6. Tuples
Comprendre le fonctionnnement des tuples

In [30]:
tuple_1 = (1, 2, 3)
tuple_1

# tuple_1.extend(10)
# tuple_1[1] = 7
tuple_2 = (7, 8)
tuple_3 = (tuple_1, tuple_2)
tuple_3

tuple_4 = (*tuple_1, *tuple_2)
tuple_4

(1, 2, 3, 7, 8)

## 7. Dictionnaires
Comprendre le fonctionnement des dictionnaires

In [31]:
#Notion de key et value
dict_1 = {'clé': 'valeur', 'clé2': 'valeur2', 1: 'clé', 2: 3}
dict_1

list(dict_1.items())
list(dict_1.keys())
list(dict_1.values())

dict_2 = {'clé_list': [1, 2, 3, 4], 'clé_str': 'valeur texte'}
dict_2

dict([['1', 'liste']])
dict([['1', 'liste'], ['2', 'liste2']])
dict([('1', 'liste'), ['2', 'liste2']])

dict_1[1]

#Alimenter un dictionnaire
dict_1['nouvelle clé'] = 'nouvelle valeur'
dict_1

dict_2['clé_str'] = 'ancienne valeur'

In [32]:
dict_1.update(dict_2)
dict_1

{'clé': 'valeur',
 'clé2': 'valeur2',
 1: 'clé',
 2: 3,
 'nouvelle clé': 'nouvelle valeur',
 'clé_list': [1, 2, 3, 4],
 'clé_str': 'ancienne valeur'}

In [33]:
dict_1['dict_2'] = dict_2
dict_1

{'clé': 'valeur',
 'clé2': 'valeur2',
 1: 'clé',
 2: 3,
 'nouvelle clé': 'nouvelle valeur',
 'clé_list': [1, 2, 3, 4],
 'clé_str': 'ancienne valeur',
 'dict_2': {'clé_list': [1, 2, 3, 4], 'clé_str': 'ancienne valeur'}}

In [34]:
dict_1['dict_2']['clé_list']

[1, 2, 3, 4]

Exercice<br>
Ajouter les valeurs du dictionnaire dans la phrase (au bon endroit)

In [35]:
dict_mots = {'organisation': ['Paris', 2024],
             'médaille': 'or',
             'sport': 'judo'}

phrase = f"Durant les JO de {dict_mots['organisation'][0]} {dict_mots['organisation'][1]}, le {dict_mots['sport']} a remporté une médaille d'{dict_mots['médaille']} en combats par équipe"
phrase

"Durant les JO de Paris 2024, le judo a remporté une médaille d'or en combats par équipe"

Exercice<br>
Alimenter le dictionnaire à l'aide de la phrase<br>
Indication : les clés sont 'nom_complet' (nom en majuscule), 'sport', 'medaille' (doit être une liste avec deux informations : type de médaille et nombre entier)

In [36]:
phrase = "Teddy Riner a remporté 2 médailles d'or en Judo"
dict_ex = {}

list_mots = phrase.split()
list_mots

dict_ex['nom_complet'] = ' '.join([list_mots[0], list_mots[1].upper()])
dict_ex['sport'] = list_mots[-1]

dict_ex['medaille'] = [list_mots[-3][2:], int(list_mots[4])]
dict_ex

{'nom_complet': 'Teddy RINER', 'sport': 'Judo', 'medaille': ['or', 2]}

## 8. Les structures conditionnelles

Comprendre les structures conditionnelles if, elif, else

### 8.1 Conditions avec un opérateur logique

In [37]:
a = 25

In [38]:
if a == 10:
    print('a est égal à 10')
else:
    print('a a une autre valeur que 10')

a a une autre valeur que 10

In [39]:
result = 'a est égal à 10' if a == 10 else 'a a une autre valeur que 10'
result

'a a une autre valeur que 10'

### 8.2 Conditions avec plusieurs opérateurs logiques

In [40]:
if a == 10:
    result = 'a est égal à 10'
elif a < 20:
    result = 'a est inférieur à 20'
else:
    result = 'a a une autre valeur que 10 et est supérieur à 20'

result

'a a une autre valeur que 10 et est supérieur à 20'

In [41]:
phrase = "Les valeurs de l'Olympisme"

if 'valeurs' in phrase:
    result = 'le mot est dans la phrase'
elif 'Olympisme' in phrase:
    result = 'le deuxième mot est dans la phrase'
else:
    result = 'aucun des mots dans la phrase'

result

'le mot est dans la phrase'

In [42]:
if ('valeurs' in phrase) and ('Olympisme' in phrase):
    result = 'deux mots dans la phrase'
else:
    result = 'aucun des mots dans la phrase'

result

'deux mots dans la phrase'

## 9. Boucles

Comprender la structure et le fonctionnement des boucles

### 9.1 For

In [45]:
for xyz in list_mots:
    print(xyz)

Teddy
Riner
a
remporté
2
médailles
d'or
en
Judo

In [46]:
for n in [1, 2, 3]:
    print(n)
    print(n+10)
    print(str(n+10)[0])
    print('---')

1
11
1
---
2
12
1
---
3
13
1
---

#### 9.1.1 Range

In [48]:
for n in range(10):
    print(n)
    print(n+10)
    print('---')

0
10
---
1
11
---
2
12
---
3
13
---
4
14
---
5
15
---
6
16
---
7
17
---
8
18
---
9
19
---

In [49]:
for n in reversed(range(10)):
    print(n)

9
8
7
6
5
4
3
2
1
0

In [51]:
for n in range(1, 10):
    print(n)

1
2
3
4
5
6
7
8
9

In [52]:
for n in range(10, 101, 10):
    print(n)

10
20
30
40
50
60
70
80
90
100

In [53]:
for n in range(0, len(list_mots)):
    print(n)

0
1
2
3
4
5
6
7
8

In [55]:
list_numbers = []
for n in range(0, 10, 2):
    list_numbers.append(n)
    print(list_numbers)

[0]
[0, 2]
[0, 2, 4]
[0, 2, 4, 6]
[0, 2, 4, 6, 8]

In [56]:
i = 0
for n in range(0, 10, 2):
    print(f'Step - {i}')
    print(n*10)
    print('---')
    i += 1

Step - 0
0
---
Step - 1
20
---
Step - 2
40
---
Step - 3
60
---
Step - 4
80
---

### 9.3 List comprehension / Vectorisation

In [60]:
list_number2 = [n for n in range(10)]
list_number2

list_nb_cond = [n for n in range(10) if n%2 != 0]
list_nb_cond

list_nb_cond = [n if n%2 != 0 else -n for n in range(10)]
list_nb_cond

[0, 1, -2, 3, -4, 5, -6, 7, -8, 9]

Exercices<br>
1) A l'aide de la vectorisation créer une condition d'appartenance à 'Pro' ou 'U20' selon la valeur de l'âge
2) Pour chaque mot dans la liste : créer un résultat de condition si le mot est plus ou moins long que 5 caractères et ajouter ce résultat dans un dictionnaire avec pour clé le mot

In [64]:
#1
list_ages = [12, 23, 18, 34, 27, 13, 20]
list_cat = ['U20' if a <= 20 else 'Pro' for a in list_ages]
print(list_cat)

#2
phrase = "Teddy Riner a remporté 2 médailles d'or en Judo"
list_mots = phrase.split()
list_mots

dict_mots = {}

for m in list_mots:
    lend_cond = '< 5 caractères' if len(m) < 5 else '> 5 caractères'
    dict_mots[m] = lend_cond

dict_mots

['U20', 'Pro', 'U20', 'Pro', 'Pro', 'U20', 'U20']

{'Teddy': '> 5 caractères',
 'Riner': '> 5 caractères',
 'a': '< 5 caractères',
 'remporté': '> 5 caractères',
 '2': '< 5 caractères',
 'médailles': '> 5 caractères',
 "d'or": '< 5 caractères',
 'en': '< 5 caractères',
 'Judo': '< 5 caractères'}

### 9.4 While

In [65]:
i = 0

while i <= 5:
    print(i)
    i += 1
    print('---')

0
---
1
---
2
---
3
---
4
---
5
---

In [66]:
phrase = "Teddy Riner a remporté 2 médailles d'or en Judo"
list_mots = phrase.split()
dict_mots = {}

i = 0

while i < 3:
    lend_cond = '< 5 caractères' if len(list_mots[i]) < 5 else '> 5 caractères'
    dict_mots[list_mots[i]] = lend_cond
    i += 1

dict_mots

{'Teddy': '> 5 caractères', 'Riner': '> 5 caractères', 'a': '< 5 caractères'}

### 9.5 zip et enumerate

In [67]:
for i, n in enumerate(range(0, 10, 2)):
    print(f'Step - {i}')
    print(n)
    print('---')

Step - 0
0
---
Step - 1
2
---
Step - 2
4
---
Step - 3
6
---
Step - 4
8
---

In [68]:
phrase = "Teddy Riner a remporté 2 médailles d'or en Judo"
list_mots = phrase.split()
dict_mots = {}

for i, m in enumerate(list_mots):
    if i < 3:
        lend_cond = '< 5 caractères' if len(m) < 5 else '> 5 caractères'
        dict_mots[m] = lend_cond
        i += 1

dict_mots

{'Teddy': '> 5 caractères', 'Riner': '> 5 caractères', 'a': '< 5 caractères'}

In [71]:
for a, c in zip(list_ages, list_cat):
    print(a)
    print(c)
    print(a, c)
    print('---')

12
U20
12 U20
---
23
Pro
23 Pro
---
18
U20
18 U20
---
34
Pro
34 Pro
---
27
Pro
27 Pro
---
13
U20
13 U20
---
20
U20
20 U20
---

In [72]:
for a, c in zip([12, 23, 18], list_cat):
    print(a, c)

12 U20
23 Pro
18 U20

In [73]:
for a, c in zip(list_ages, ['U20', 'Pro']):
    print(a, c)

12 U20
23 Pro

In [74]:
for i, (a, c) in enumerate(zip(list_ages, list_cat)):
    print(i, a, c)

0 12 U20
1 23 Pro
2 18 U20
3 34 Pro
4 27 Pro
5 13 U20
6 20 U20

Exercice<br>
A l'aide des listes de prénoms d'athlètes, de sports et d'âges : créer un dictionnaire de 4 athlètes maximum ayant pour clé le prénom de l'athlète et comme valeur un deuxième dictionnaire avec pour clés 'sport', 'age', 'categorie' (+ ou - de 25 ans)

In [75]:
list_ath = ['Antoine', 'Pauline', 'Cassandre', 'Léon', 'Teddy', 'Félix']
list_ages = [27, 32, 27, 22, 35, 17]
list_sport = ['rugby', 'VTT', 'Triathlon', 'Natation', 'Judo', 'Tennis de table']

dict_ath = {}

for i, (ath, ag, sp) in enumerate(zip(list_ath, list_ages, list_sport)):
    if i < 4:
        sub_dict = {}
        sub_dict['sport'] = sp
        sub_dict['age'] = ag
        sub_dict['cat'] = '- de 25 ans' if ag < 25 else '+ de 25 ans'

        dict_ath[ath] = sub_dict

dict_ath

{'Antoine': {'sport': 'rugby', 'age': 27, 'cat': '+ de 25 ans'},
 'Pauline': {'sport': 'VTT', 'age': 32, 'cat': '+ de 25 ans'},
 'Cassandre': {'sport': 'Triathlon', 'age': 27, 'cat': '+ de 25 ans'},
 'Léon': {'sport': 'Natation', 'age': 22, 'cat': '- de 25 ans'}}

## 10. Fonctions
Comprendre la construction d'une fonction

In [77]:
a = 10
b = 4

### 10.1 Fonctions à une sortie

In [78]:
#Notions d'arguments en dehors de la fonction et dans la fonction
def fonction_creee():
    print(a + b)

In [79]:
fonction_creee()

14

In [80]:
def fonction_arg(arg_1, arg_2):
    print(arg_1 + arg_2)

In [82]:
fonction_arg(a, b)

14

In [85]:
def fct_arg(arg_1, arg_2):
    result = arg_1 + arg_2

    return result

r_fct = fct_arg(a, b)
r_fct

14

In [90]:
a + r_fct

fct_arg(2, 5)

7

In [92]:
#Arguments avec valeur par défaut si non attribuée
def fct_dft(arg_1, arg_2=100):
    result = arg_1 * arg_2
    return result

fct_dft(a)
fct_dft(a, b)

40

### 10.2 Fonctions à plusieurs sorties

In [96]:
def fct_2(arg_1, arg_2=100):
    if arg_2 == 100:
        arg_2_dft = 'Valeur 2 par défaut'
    else:
        arg_2_dft = 'Valeur 2 fournie'

    result = arg_1 + arg_2

    return result, arg_2_dft

r_fct = fct_2(a)
print(r_fct[0])
print(r_fct[1])

v1, v2 = fct_2(a)
print(v1)
print(v2)

110
Valeur 2 par défaut
110
Valeur 2 par défaut

Exercice<br>
Créer une fonction calculant le quotient entre 2 arguments (numérateur et dénominateur). Ajouter une condition si le dénominateur est égal à 0 : 'division par 0 impossible'. La sortie de la fonction doit être soit la valeur de la condition soit le résultat du quotient

In [98]:
def quotien_test(num, den):
    if den == 0:
        res = 'Division par 0 impossible'
    else:
        res = num / den

    return res

print(quotien_test(a, 0))
print(quotien_test(a, b))

Division par 0 impossible
2.5

# Exercice final :<br>Créer une fonction pour imprimer une fiche de sportif
La fonction doit comprendre 3 arguments :<br>
- Un dictionnaire avec les informations du sportif (nom, prénom, âge, poids, sexe M ou F)<br>
- Le sport du sportif (en minuscule)<br>
- Une liste de résultats à des tests : Squat (nombre entier), 30-15 (décimal arrondi à 1 chiffre), Bronco (décimal arrondi à 1 chiffre) et 20m sprint (décimal arrondi à 1 chiffre).<br>

A l'appel de la fonction doit apparaitre une fiche du type :<br>
<br>Nom complet : *(Prénom + NOM)*
<br>Age : *(valeur)* ans
<br>Poids : *(valeur)* kg
<br>Sport : *(première lettre en majuscule)*
<br>Identifiant : *(sexe en majuscule + les initiales du nom et prénoms en majuscule + âge + la première lettre du sport en majuscule)*
<br>Résultats des tests :
<br>Squat : *(valeur)* kg - Ratio *(ratio avec pdc arrondi à une décimale)*
<br>30-15 : X,X km/h de VMA
<br>Bronco : *(au format XminYsec)*
<br>20m sprint : *(au format X'X)*

Indications supplémentaires : <br>
- Dans le cas d'un prénom ou nom composé, les initiales des deux prénoms ou noms doivent apparaitre dans l'identifiant (indice : chercher ' ' ou '-')
- Le résultat du Bronco doit être converti : par exemple 3,2 correspond à 3min12sec...

In [101]:
dict_s = {'nom': 'Dupont',
          'prenom': 'Antoine',
          'poids': 92,
          'age': 27,
          'sexe': 'M'}

sport_s = 'rugby'
tests_s = [180, 17.8, 4.2, 2.3]

def fiche_sportif(info_s, sport, res_tests):

    print(f"Nom complet : {info_s['prenom']} {info_s['nom'].upper()}")
    print(f"Age : {info_s['age']} ans")
    print(f"Poids: {info_s['poids']}kg")
    print(f"Sport : {sport.capitalize()}")

    #Prénom
    id_prenom = ''
    if '-' in info_s['prenom']:
        list_p = info_s['prenom'].split('-')
        for p in list_p:
            id_prenom += p[0]
    elif ' ' in info_s['prenom']:
        list_p = info_s['prenom'].split(' ')
        for p in list_p:
            id_prenom += p[0]
    else:
        id_prenom += info_s['prenom'][0]

    #Nom
    id_nom = ''
    if '-' in info_s['nom']:
        list_n = info_s['nom'].split('-')
        for n in list_n:
            id_nom += n[0]
    elif ' ' in info_s['nom']:
        list_n = info_s['nom'].split(' ')
        for n in list_n:
            id_nom += n[0]
    else:
        id_nom += info_s['nom'][0]

    id_s = info_s['sexe'] + id_prenom + id_nom + str(info_s['age']) + sport[0].upper()
    print(f"Identifiant : {id_s}")

    print(f"Résultats des tests")
    ratio = round(res_tests[0] / info_s['poids'], 1)
    print(f"Squat : {res_tests[0]}kg - Ration {ratio}")

    vma_str = str(res_tests[1]).split('.')
    print(f"30-15 : {vma_str[0]},{vma_str[1]}km/h de VMA")

    br_min = str(res_tests[2]).split('.')[0]
    br_sec = str(res_tests[2]).split('.')[1]
    br_sec_std = int(int(br_sec) * 6)
    print(f"Bronco : {br_min}min{br_sec_std}sec")

    sp_sec = str(res_tests[3]).split('.')[0]
    sp_ms = str(res_tests[3]).split('.')[1]
    print(f"Sprint de 20m : {sp_sec}'{sp_ms}")

In [102]:
fiche_sportif(dict_s, sport_s, tests_s)

Nom complet : Antoine DUPONT
Age : 27 ans
Poids: 92kg
Sport : Rugby
Identifiant : MAD27R
Résultats des tests
Squat : 180kg - Ration 2.0
30-15 : 17,8km/h de VMA
Bronco : 4min12sec
Sprint de 20m : 2'3

In [103]:
dict_s2 = {'nom': 'Bosse',
           'prenom': 'Pierre-Ambroise',
           'poids': 80,
           'age': 32,
           'sexe': 'M'}

sport = 'athlétisme'
test_s = [150, 24.3, 3.1, 1.8]

fiche_sportif(dict_s2, sport, test_s)

Nom complet : Pierre-Ambroise BOSSE
Age : 32 ans
Poids: 80kg
Sport : Athlétisme
Identifiant : MPAB32A
Résultats des tests
Squat : 150kg - Ration 1.9
30-15 : 24,3km/h de VMA
Bronco : 3min6sec
Sprint de 20m : 1'8

# Bonus

In [3]:
for n in [2.40, 2.04, 2.41]:
    print(n)
    print(str(n))
    print(str(n).split('.')[1])
    sec_ = str(n).split('.')[1]
    print(int(sec_) if len(sec_) == 2 else int(sec_)*10)
    print('---')

2.4
2.4
4
40
---
2.04
2.04
04
4
---
2.41
2.41
41
41
---